     <body>
     <div class="header-container">
            <header class="wrapper clearfix">
                <h1 class="title">7.11.15 <p> Tom &amp; Riley </p> </h1>

            </header>
        </div>

<div class="main-container">
<div class="main wrapper clearfix">

<div class= "cover">
Tom &amp; Riley
<p>July 11, 2015</p><p>Pittsburgh, Pennsylvania</p>
</div>

<div class ="paragraph">
<p> We are so excited for this happy occasion.</p>
<img src="" alt="" width="930" height="auto"  /> <p> We want to thank our parents for all of the love and support they've given us over the years.</p>
</div>


<nav>
<ul>
<li class="active"><a href="pages/about">About Us</a></li>
<li class="active"><a href="folder/wedding">Wedding</a></li>
<li class="active"><a href="gifts/registries">Registries</a></li>
</ul>
</nav>

<footer class="wrapper">
<h2></h2>
</footer>

</div>
</div>
</body>
</html>
