     <body>
     <div class="header-container">
            <header class="wrapper clearfix">
                <h1 class="title">Our Wedding</h1>
                <nav>
                    <ul>

                        <li class="active"><a href="pages/about">About Us</a></li>
                        <li class="active"><a href="folder/wedding">Wedding</a></li>
                        <li class="active"><a href="gifts/registries">Registries</a></li>
                    </ul>
                </nav>
            </header>
        </div>



<div class="main-container">
<div class="main wrapper clearfix">


<div class ="paragraph">
<h2>Registries</h2>
<p>We have a couple things on this list, but by no means is this an end all be all. All we want for a gift, is your presence at our wedding! </p>
<img src="" alt="" width="930" height="auto"  /> <p>&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; </p>
</div>





<footer class="wrapper">
<h2></h2>
</footer>

</div>
</div>
</body>
</html>
