
<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta name="description" content="">
<meta name="author" content="">
<link rel="icon" href="../../favicon.ico">

<title>Riley & Tom</title>

<!-- Bootstrap core CSS -->
<link href="http://getbootstrap.com/dist/css/bootstrap.min.css" rel="stylesheet">

<!-- Custom styles for this template -->
<link href="http://getbootstrap.com/examples/jumbotron/jumbotron.css" rel="stylesheet">

<!-- Just for debugging purposes. Don't actually copy these 2 lines! -->
<!--[if lt IE 9]><script src="../../assets/js/ie8-responsive-file-warning.js"></script><![endif]-->
<script src="../../assets/js/ie-emulation-modes-warning.js"></script>

<!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
<!--[if lt IE 9]>
<script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
<script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
<![endif]-->

<link href='http://fonts.googleapis.com/css?family=Allura' rel='stylesheet' type='text/css'>
<link href='http://fonts.googleapis.com/css?family=Lato' rel='stylesheet' type='text/css'>


 <script src="http://code.jquery.com/jquery.js"></script>
<script src="//netdna.bootstrapcdn.com/bootstrap/3.0.0-rc1/js/bootstrap.min.js"></script>
<link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.0-rc1/css/bootstrap.min.css">
<link rel="stylesheet" href="css/bootstrap-glyphicons.css" type="text/css">

<script>
// Added this just so I didn't have to wait 5 seconds to see if the transition worked. //
$(document).ready(function() {
    $('#Carousel').carousel({
        interval:   1000
    });
});
</script>


<style type="text/css">



.thumb {
    margin-bottom: 30px;
}

@media (min-width: 768px) {
    .carousel-caption p {
        margin-bottom: 20px;
        font-size: 21px;
        line-height: 1.4;
    }
}
img {
    background: red;
}

p{
    padding-top: 10px;
}

body {
    padding-top: 50px;
    font-family: 'Lato', sans-serif;
}

.jumbotron{
    background-color: gray;
    color: white;
}

.wide {
    width:100%;
    height:400px;
    background-image:url('http://www.rileyisme.com/wp-content/uploads/2015/05/textandpic.png');
    -webkit-filter: grayscale(100%);
    -moz-filter: grayscale(100%);
    filter: grayscale(100%);
    background-size:cover;
}

.wide img {
    width:100%;
}

.logo {
    color:#fff;
    font-weight:800;
    font-size:14pt;
    padding:25px;
    text-align:left;
}


.line {
    padding-top:20px;
    white-space:no-wrap;
    overflow:hidden;
     text-align:left;
}
h1 {
    padding-top: 270px;
    font-family: 'Allura', cursive;
    color: white;
    text-align:left;
    font-size: 400%;
    padding-bottom: 1px;
    line-height: 20%;
}
small {
    color: white;
    line-height: 20%;
    font-size: 200%;
    font-family: 'Allura', cursive;
}

h2 {
    font-family: 'Allura', cursive;
}

.navbar-brand {
    font-family: 'Allura', cursive;
}



/* Large Devices, Wide Screens */
    @media only screen and (max-width : 1200px) {
    .wide {
        width:100%;
        height:200px;
        background-image:url('http://www.rileyisme.com/wp-content/uploads/2015/05/textandpic.png');
        -webkit-filter: grayscale(100%);
        -moz-filter: grayscale(100%);
        filter: grayscale(100%);
        background-size:cover;
        font-size: 50%;
    }
    
    .small {
        color: black;
        line-height: 10%;
        font-size: 50%;
        font-family: 'Allura', cursive;
    }
    
    .line {
        padding-top:1px;
        white-space:no-wrap;
        overflow:hidden;
        text-align:right;
    }

}


    /* Medium Devices, Desktops */
    @media only screen and (max-width : 992px) {

    .wide {
        width:100%;
        height:200px;
        background-image:url('http://www.rileyisme.com/wp-content/uploads/2015/05/textandpic.png');
        -webkit-filter: grayscale(100%);
        -moz-filter: grayscale(100%);
        filter: grayscale(100%);
        background-size:cover;
        font-size: 50%;
    }
    
    .small {
        color: black;
        line-height: 10%;
        font-size: 50%;
        font-family: 'Allura', cursive;
    }
    
    .line {
        padding-top:1px;
        white-space:no-wrap;
        overflow:hidden;
        text-align:right;
    }

}


    /* Small Devices, Tablets */
    @media only screen and (max-width : 768px) {

    .wide {
        width:100%;
        height:200px;
        background-image:url('http://www.rileyisme.com/wp-content/uploads/2015/05/textandpic.png');
        -webkit-filter: grayscale(100%);
        -moz-filter: grayscale(100%);
        filter: grayscale(100%);
        background-size:cover;
        font-size: 50%;
    }
    
    .small {
        color: black;
        line-height: 10%;
        font-size: 50%;
        font-family: 'Allura', cursive;
    }
    
    .line {
        padding-top:1px;
        white-space:no-wrap;
        overflow:hidden;
        text-align:right;
    }

}

    /* Extra Small Devices, Phones */ 
    @media only screen and (max-width : 480px) {

        .wide {
        width:100%;
        height:200px;
        background-image:url('http://www.rileyisme.com/wp-content/uploads/2015/05/textandpic.png');
        -webkit-filter: grayscale(100%);
        -moz-filter: grayscale(100%);
        filter: grayscale(100%);
        background-size:cover;
        font-size: 50%;
    }
    
    .small {
        color: black;
        line-height: 10%;
        font-size: 50%;
        font-family: 'Allura', cursive;
    }
    
    .line {
        padding-top:1px;
        white-space:no-wrap;
        overflow:hidden;
        text-align:right;
    }

}

    /* Custom, iPhone Retina */ 
    @media only screen and (max-width : 320px) {

            .wide {
        width:100%;
        height:50px;
        background-image:url('http://www.rileyisme.com/wp-content/uploads/2015/05/textandpic.png');
        -webkit-filter: grayscale(100%);
        -moz-filter: grayscale(100%);
        filter: grayscale(100%);
        background-size:cover;
        font-size: 50%;
    }
    
    .small {
        color: black;
        line-height: 10%;
        font-size: 50%;
        font-family: 'Allura', cursive;
    }
    
    .line {
        padding-top:1px;
        white-space:no-wrap;
        overflow:hidden;
        text-align:right;
    }

}


</style>


<script>
(function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
    (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
})(window,document,'script','//www.google-analytics.com/analytics.js','ga');

ga('create', 'UA-57329539-1', 'auto');
ga('send', 'pageview');

</script>


</head>

<body>

<nav class="navbar navbar-inverse navbar-fixed-top">
<div class="container">
<div class="navbar-header">
<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
<span class="sr-only">Toggle navigation</span>
<span class="icon-bar"></span>
<span class="icon-bar"></span>
<span class="icon-bar"></span>
</button>
<a class="navbar-brand" href="../"> Tom & Riley | 7.11 </a>
</div>
<div id="navbar" class="collapse navbar-collapse">
<ul class="nav navbar-nav">
<li><a href="../pages/about">About Us</a></li>
<li><a href="../folder/wedding">Wedding</a></li>
<li><a href="../gifts/registries">Registries</a></li>
<li class="dropdown">
<ul class="dropdown-menu" role="menu">
</ul>
</li>
</ul>
<ul class="nav navbar-nav navbar-right">
</ul>
</div><!--/.nav-collapse -->
</div>
</nav>

</ul>
</div><!--/.nav-collapse -->
</div>
</nav>

<div class="wide">
<div class="col-xs-5 line"></div>
<div class="col-xs-2 logo"></div>
<div class="col-xs-5 line"></div>
</div>


<div class="alert alert-info" role="alert">
<p>We are less than 11 days away! If you need hotel accomidations <a href="../folder/wedding" class="alert-link"> go here quick</a>! If you need more information, zoom <a href="../pages/about" class="alert-link"> over here </a>! We can't wait to see you all in less than 11 days! Ah!</p> 
</div>

<div class="container">
<!-- Example row of columns -->
<div class="row">
<div class="col-md-4">
<h2>About Us</h2>
<p> Tom has had a habit of showing up uninvited to the birthday parties of his sister, Maureen.  In April 2012, Maureen (Mo) and Erin invited him to crash someone else’s birthday party – Riley’s!  Mo and Erin introduced Tom and Riley who, after several Motown dance parties, decided to get hitched. </p>
<p><a class="btn btn-default" href="../pages/about" role="button">More &raquo;</a></p>
</div>
<div class="col-md-4">
<h2>Our Wedding</h2>
<p>Our Catholic wedding ceremony will be held at Saint Mary of the Mount on Mount Washington in Pittsburgh, PA. It will begin at 1:00 PM sharp! The Church is at 403 Grandview Avenue.There is a parking lot located to the left of the church. Additional parking is available on Ulysses St. or Bertha St. </p>
<p><a class="btn btn-default" href="../folder/wedding" role="button">More &raquo;</a></p>
</div>
<div class="col-md-4">
<h2>Registries</h2>
<p> We’ve been asked what we’d like for a gift and the answer is simple: you, at our wedding, having a great time. But if you insist then we’ll say what we’d also love is the most amazing honeymoon possible. We have the basics covered but we’re hoping for the vacation of a lifetime. We want to see and do everything we’ve dreamed about and if you’d like to help us with that then read on!</p>
<p><a class="btn btn-default" href="../gifts/registries" role="button">More &raquo;</a></p>
</div>
</div>

<hr>

<div class="row">
<div class="col-md-4">
<h2>Happenings</h2>
<p><a class="twitter-timeline" href="https://twitter.com/hashtag/rom711" data-widget-id="550332591841476610">#rom711 Tweets</a>
<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script></p>
</div>

<div class="col-md-8">
<h2>Us!</h2>

<div class="col-md-4 thumb">
<a class="thumbnail" href="#">
<img class="img-responsive" src="http://www.rileyisme.com/wp-content/uploads/2014/09/IMG_3755-e1411415723367.jpg" alt="Us on Mount Washington in Pittsburgh">
</a>
</div>
<div class="col-md-4 col-xs-4 thumb">
<a class="thumbnail" href="#">
<img class="img-responsive" src="http://www.rileyisme.com/wp-content/uploads/2014/09/P2040122-e1411418431698.jpg" alt="Paris">
</a>
</div>
<div class="col-md-4 col-xs-4 thumb">
<a class="thumbnail" href="#">
<img class="img-responsive" src="http://www.rileyisme.com/wp-content/uploads/2014/09/P1070357-e1411417678408.jpg" alt="Hawaii">
</a>
</div>
<div class="col-md-4 col-xs-4 thumb">
<a class="thumbnail" href="#">
<img class="img-responsive" src="http://www.rileyisme.com/wp-content/uploads/2014/09/photo-1.jpg" alt="Gina's Wedding!">
</a>
</div>
<div class="col-md-4 col-xs-4 thumb">
<a class="thumbnail" href="#">
<img class="img-responsive" src="http://www.rileyisme.com/wp-content/uploads/2014/09/IMG_3764.jpg" alt="Toronto!">
</a>
</div>
<div class="col-md-4 col-xs-4 thumb">
<a class="thumbnail" href="#">
<img class="img-responsive" src="http://www.rileyisme.com/wp-content/uploads/2014/12/DSC_005_1041.jpg" alt="Chicago">
</a>
</div>
<div class="col-md-4 col-xs-4 thumb">
<a class="thumbnail" href="#">
<img class="img-responsive" src="http://www.rileyisme.com/wp-content/uploads/2015/03/IMG_3765.jpg" alt="Toronto!">
</a>
</div>
<div class="col-md-4 col-xs-4 thumb">
<a class="thumbnail" href="#">
<img class="img-responsive" src="http://www.rileyisme.com/wp-content/uploads/2015/03/IMG_3757.jpg" alt="Notre Dame">
</a>
</div>
<div class="col-md-4 col-xs-4 thumb">
<a class="thumbnail" href="#">
<img class="img-responsive" src="http://www.rileyisme.com/wp-content/uploads/2015/03/IMG_3744.jpg" alt="Hawaii">
</a>
</div>
<div class="col-md-4 col-xs-4 thumb">
<a class="thumbnail" href="#">
<img class="img-responsive" src="http://www.rileyisme.com/wp-content/uploads/2015/03/IMG_3750.jpg" alt="Boston">
</a>
</div>
<div class="col-md-4 col-xs-4 thumb">
<a class="thumbnail" href="#">
<img class="img-responsive" src="http://www.rileyisme.com/wp-content/uploads/2015/03/IMG_3753.jpg" alt="Muddy Buddy">
</a>
</div>
<div class="col-md-4 col-xs-4 thumb">
<a class="thumbnail" href="#">
<img class="img-responsive" src="http://www.rileyisme.com/wp-content/uploads/2015/03/IMG_3738.jpg" alt="Kate's Wedding">
</a>

</div>





</div>
<footer>
<p>&copy; Riley & Tom 2014</p>
</footer>
</div> <!-- /container -->


<!-- Bootstrap core JavaScript
================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
<script src="../../dist/js/bootstrap.min.js"></script>
<!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
<script src="../../assets/js/ie10-viewport-bug-workaround.js"></script>
<script>
$('#myLightbox').lightbox(options)
</script>
</body>
</html>
