
<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta name="description" content="">
<meta name="author" content="">
<link rel="icon" href="../../favicon.ico">

<title>Riley & Tom</title>

<!-- Bootstrap core CSS -->
<link href="http://getbootstrap.com/dist/css/bootstrap.min.css" rel="stylesheet">

<!-- Custom styles for this template -->
<link href="http://getbootstrap.com/examples/jumbotron/jumbotron.css" rel="stylesheet">

<!-- Just for debugging purposes. Don't actually copy these 2 lines! -->
<!--[if lt IE 9]><script src="../../assets/js/ie8-responsive-file-warning.js"></script><![endif]-->
<script src="../../assets/js/ie-emulation-modes-warning.js"></script>

<!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
<!--[if lt IE 9]>
<script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
<script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
<![endif]-->

<link href='http://fonts.googleapis.com/css?family=Allura' rel='stylesheet' type='text/css'>
<link href='http://fonts.googleapis.com/css?family=Lato' rel='stylesheet' type='text/css'>


<style type="text/css">

p{
    padding-top: 10px;
}

body {
    padding-top: 50px;
    font-family: 'Lato', sans-serif;
}

.jumbotron{
    background-color: gray;
    color: white;
}

.wide {
    width:100%;
    height:400px;
    background-image:url('http://www.rileyisme.com/wp-content/uploads/2014/12/DSC_0176-e1420002788797.jpg');
    -webkit-filter: grayscale(100%);
    -moz-filter: grayscale(100%);
    filter: grayscale(100%);
    background-size:cover;
}

.wide img {
    width:100%;
}

.logo {
    color:#fff;
    font-weight:800;
    font-size:14pt;
    padding:25px;
    text-align:left;
}


.line {
    padding-top:20px;
    white-space:no-wrap;
    overflow:hidden;
     text-align:left;
}
h1 {
    padding-top: 200px;
    font-family: 'Allura', cursive;
    color: white;
    text-align:left;
    font-size: 400%;
    padding-bottom: 1px;
}
h2 {
    font-family: 'Allura', cursive;
}
h3 {
    color: white;
}

</style>


</head>

<body>

<nav class="navbar navbar-inverse navbar-fixed-top">
<div class="container">
<div class="navbar-header">
<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
<span class="sr-only">Toggle navigation</span>
<span class="icon-bar"></span>
<span class="icon-bar"></span>
<span class="icon-bar"></span>
</button>
<a class="navbar-brand" href="#"> Tom & Riley  </a>
</div>
<div id="navbar" class="collapse navbar-collapse">
<ul class="nav navbar-nav">
<li><a href="../pages/about">About Us</a></li>
<li><a href="../folder/wedding">Wedding</a></li>
<li><a href="../gifts/registries">Registries</a></li>
</ul>
</div><!--/.nav-collapse -->
</div>
</nav>

<div class="wide">
<div class="col-xs-5 line"><h1> Tom & Riley</h1><h3><a class="btn btn-primary btn-lg" href="../folder/wedding" role="button">More wedding details &raquo;</a></h3></div>
<div class="col-xs-2 logo"></div>
<div class="col-xs-5 line"></div>
</div>



<div class="container">
<!-- Example row of columns -->
<div class="row">
<div class="col-md-4">
<h2>About Us</h2>
<p>Tom has had a habit of showing up uninvited to the birthday parties of his sister, Maureen. In April 2012, Maureen (Mo) and Erin invited him to crash someone else’s birthday party – Riley’s! Mo and Erin introduced Tom and Riley who, after several Motown dance parties, decided to get hitched. </p>
<p><a class="btn btn-default" href="../pages/about" role="button">More &raquo;</a></p>
</div>
<div class="col-md-4">
<h2>Registries</h2>
<p> We’ve been asked what we’d like for a gift and the answer is simple: you, at our wedding, having a great time. But if you insist then we’ll say what we’d also love is the most amazing honeymoon possible. We have the basics covered but we’re hoping for the vacation of a lifetime. We want to see and do everything we’ve dreamed about and if you’d like to help us with that then read on!</p>
<p><a class="btn btn-default" href="../gifts/registries" role="button">More &raquo;</a></p>
</div>
<div class="col-md-4">
<h2>Happenings</h2>
<p><a class="twitter-timeline" href="https://twitter.com/hashtag/rom711" data-widget-id="550012728942014465">#rom711 Tweets</a>
<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script></p>
</div>
</div>

<hr>

<footer>
<p>&copy; Riley & Tom 2014</p>
</footer>
</div> <!-- /container -->


<!-- Bootstrap core JavaScript
================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
<script src="../../dist/js/bootstrap.min.js"></script>
<!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
<script src="../../assets/js/ie10-viewport-bug-workaround.js"></script>
</body>
</html>
