


<div class="main-container">
<div class="main wrapper clearfix">

<nav>
<ul>
<li class="active"><a href="pages/about">About Us</a></li>
<li class="active"><a href="folder/wedding">Wedding</a></li>
<li class="active"><a href="gifts/registries">Registries</a></li>
</ul>
</nav>


<img src="http://www.rileyisme.com/wp-content/uploads/2014/10/HistoryCener_from_Strip_District-e1414693616446.jpg" alt="Heinz History Center" width="400" height="auto"/>


<footer class="wrapper">
<h2></h2>
</footer>

</div>
</div>
</body>
</html>
