     <body>
     <div class="header-container">
            <header class="wrapper clearfix">
                <h1 class="title">Our Wedding</h1>
                <nav>
                    <ul>

                        <li class="active"><a href="pages/about">About Us</a></li>
                        <li class="active"><a href="folder/wedding">Wedding</a></li>
                        <li class="active"><a href="gifts/registries">Registries</a></li>
                    </ul>
                </nav>
            </header>
        </div>



<div class="debug">
<label><input type="checkbox"> Debug</label>
</div>
<div class="demo__info">
</div>

<div class="parallax">

<div id="group2" class="parallax__group">
<div class="parallax__layer parallax__layer--base">
<div class="name"><h1> Tom &amp; Riley </h1> <div class="cover"> July 11, 2015</div></div>
</div>


<div class="parallax__layer parallax__layer--back">
<div class="name">
<img src="http://www.rileyisme.com/wp-content/uploads/2014/09/cover-e14096201064852.jpg" alt="Engagement"> </p></div>
</div>
</div>
<div id="group3" class="parallax__group">
<div class="parallax__layer parallax__layer--fore">
<div class="name"></div>
</div>
<div class="parallax__layer parallax__layer--base">
<div class="name"><h2>Welcome!</h2><p> We are so excited for this happy occasion. </p></div>
</div>
</div>
<div id="group4" class="parallax__group">
<div class="parallax__layer parallax__layer--base">
<div class="name"></div>
</div>
<div class="parallax__layer parallax__layer--back">
<div class="name"><img src="http://www.rileyisme.com/wp-content/uploads/2014/09/P1070357-e1411417678408.jpg" alt="Hawaii" ></div>
</div>


<div class="parallax__layer parallax__layer--deep">
<div class="name"></div>
</div>


</div>
<div id="group5" class="parallax__group">
<div class="parallax__layer parallax__layer--fore">
<div class="name"></div>
</div>
<div class="parallax__layer parallax__layer--base">
<div class="name">We want to thank our parents for all of the love and support they've given us over the years. </div>
</div>
</div>
<div id="group6" class="parallax__group">
<div class="parallax__layer parallax__layer--back">
<div class="name">  </div>
</div>
<div class="parallax__layer parallax__layer--base">
<div class="name"><img src="http://www.rileyisme.com/wp-content/uploads/2014/09/P2050159-e1411419186685.jpg" alt="Paris"></div>
</div>
</div>
<div id="group7" class="parallax__group">
<div class="parallax__layer parallax__layer--base">
<div class="name">Keep searchin!</div>
</div>
</div>
</div>

<script>
var debugInput = document.querySelector("input");
function updateDebugState() {
    document.body.classList.toggle('debug-on', debugInput.checked);
}
debugInput.addEventListener("click", updateDebugState);
updateDebugState();
</script>

<script type="text/javascript">
var _gaq = _gaq || [];
_gaq.push(['_setAccount', 'UA-10812217-3']);
_gaq.push(['_trackPageview']);
(function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
})();
</script>

<footer class="wrapper">
<h3><a href="photo/comment">Leave us a message!</a></h3>
</footer>
    </body>
</html>



