


<div class="main-container">
<div class="main wrapper clearfix">

<nav>
<ul>
<hr> 
<li class="active"><a href="pages/about">About Us</a></li>
<li class="active"><a href="folder/wedding">Wedding</a></li>
<li class="active"><a href="gifts/registries">Registries</a></li>
</ul>
</nav>


<img src="http://www.rileyisme.com/wp-content/uploads/2014/09/IMG_3764.jpg" alt="Us In Toronto" width="400" height="auto" align="center"/>


<footer class="wrapper">
<h2></h2>
</footer>

</div>
</div>
</body>
</html>
