     <body>
     <div class="header-container">
            <header class="wrapper clearfix">
                <div class="cover">7.11.15 <p> Tom &amp; Riley </p> </div>
            </header>
        </div>

<div class="main-container">
<div class="main wrapper clearfix">


<p> We are so excited for this happy occasion.</p>


<nav>
<ul>
<li class="active"><a href="pages/about">About Us</a></li>
<li class="active"><a href="folder/wedding">Wedding</a></li>
<li class="active"><a href="gifts/registries">Registries</a></li>
</ul>
</nav>

<footer class="wrapper">
<h2></h2>
</footer>

</div>
</div>
</body>
</html>
