


<div class="main-container">
<div class="main wrapper clearfix">

<nav>
<ul>
<li class="active"><a href="pages/about">About Us</a></li>
<li class="active"><a href="folder/wedding">Wedding</a></li>
<li class="active"><a href="gifts/registries">Registries</a></li>
</ul>
</nav>



<div class ="paragraph">
<p> We are getting married on July 11, 2015! We want to thank all of our family and friends for their support over the years.</p>
<img src="http://www.rileyisme.com/wp-content/uploads/2014/09/IMG_3764.jpg" width="300" height="auto"/>
</div>


<footer class="wrapper">
<h2></h2>
</footer>

</div>
</div>
</html>
