
<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
<head>

<head>
<title>About Us</title>
<%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
<%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
<%= csrf_meta_tags %>


<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
<title></title>
<meta name="description" content="">
<meta name="viewport" content="width=device-width, initial-scale=1">

<link href="http://fonts.googleapis.com/css?family=Quattrocento" rel='stylesheet' type='text/css'>
<link href="http://fonts.googleapis.com/css?family=Quattrocento+Sans" rel='stylesheet' type='text/css'>

<script>
(function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
    (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
})(window,document,'script','//www.google-analytics.com/analytics.js','ga');

ga('create', 'UA-57329539-1', 'auto');
ga('send', 'pageview');

</script>

</head>


<body id="active2">
<div class="header-container">
<header class="wrapper clearfix">

<ul class="nav nav-tabs">
<li role="presentation"><a href="../pages/about">About Us</a></li>
<li role="presentation"><a href="../folder/wedding">Wedding</a></li>
<li role="presentation"><a href="../gifts/registries">Registries</a></li>
</ul>

</header>
</div>

<div class="main-container">
<div class="main wrapper clearfix">


<div class ="center">
<img src="http://www.rileyisme.com/wp-content/uploads/2014/09/IMG_3764.jpg" width="300" height="auto" style="max-width:100%;height:auto; />
<div class ="paragraph">


</div>
</div>




<footer class="wrapper">
<h2></h2>
</footer>

</div>
</div>

