<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
<head>

<head>
<title>About Us</title>
<%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
<%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
<%= csrf_meta_tags %>


<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
<title></title>
<meta name="description" content="">
<meta name="viewport" content="width=device-width, initial-scale=1">

<link href="http://fonts.googleapis.com/css?family=Quattrocento" rel='stylesheet' type='text/css'>
<link href="http://fonts.googleapis.com/css?family=Quattrocento+Sans" rel='stylesheet' type='text/css'>

</head>


<body>
<div class="header-container">
<header class="wrapper clearfix">
<h1 class="title"><a href="../">Our Wedding</a></h1>
<nav>
<ul>

<li class="active"><a href="../pages/about">About Us</a></li>
<li class="active"><a href="#">Wedding</a></li>
<li class="active"><a href="../gifts/registries">Registries</a></li>

</ul>
</nav>
</header>
</div>

<div class="main-container">
<div class="main wrapper clearfix">

<div class ="paragraph">
<h2>Map of events!</h2>
<p> Click the map markers, for more details. To view a google map click <a href="https://mapsengine.google.com/map/edit?hl=en&authuser=0&mid=znvAMPOLTnJ0.k5BxW5IwrABc"> here. </a>
<iframe width='100%' height='500px' frameBorder='0' src='https://a.tiles.mapbox.com/v4/lrileygraham.k11837ge/attribution,zoompan,zoomwheel,geocoder,share.html?access_token=pk.eyJ1IjoibHJpbGV5Z3JhaGFtIiwiYSI6ImxrOG5fVGcifQ.mTY2b29NSnZa7_yCb8F-Ag'></iframe></p>
</div>





<div class ="left">
<img src="http://www.rileyisme.com/wp-content/uploads/2014/10/6265148240_f5e923356e.jpg" alt="Saint Mary's of the Mount" width="400" height="auto"/>
<div class ="paragraph">
<h2>Ceremony</h2>
<p> Our catholic wedding ceremony will be held at Saint Mary of the Mount on Mount Washington, PA. It will be held at at 1:00 PM sharp! 403 Grandview Avenue. There is a parking lot located to the left of the church. Additional parking is street parking on Ulysses St. or Bertha St. Please Note: If you are going to be walking around or taking the incline down to Station Sq. after the ceremony, please do not park in the church parking lot (or be sure to move your vehicle). There will be another wedding after ours and you will be blocked in. </p>
</div>
</div>

<div class ="left">
<img src="http://www.rileyisme.com/wp-content/uploads/2014/10/HistoryCener_from_Strip_District-e1414693616446.jpg" alt="Heinz History Center" width="400" height="auto"/>
<div class ="paragraph">
<h2>Reception</h2>
<p> The reception will follow, starting at 5 PM, at the Heinz History Center PPG Public Parking - 1301 Smallman Street Parking Lot ALCO Parking - 13th and Smallman Street. An affiliate of the Smithsonian Institution, the History Center is the largest history museum in Pennsylvania. The 275,000 sq. ft. museum - recently named "Best Museum" by the readers of Pittsburgh Magazine - features six floors of long-term and changing exhibition space, including the Western Pennsylvania Sports Museum, a dynamic museum-within-a-museum, and the Library & Archives, an extensive scholarly resource documenting 250 years of life in Western Pennsylvania.  </p>
</div>
</div>


<div class ="left">
<img src="http://www.rileyisme.com/wp-content/uploads/2014/10/737x415xPITZN_P001-Exterior-with-Ballpark-EH.jpg.pagespeed.ic_.SrzG1-lbZj.jpg" alt="Hyatt Place North Shore" width="400" height="auto"/>
<div class ="paragraph">
<h2>Hotels</h2>
<h3>Hyatt Place North SHORE</H3>
<p> A block of rooms has been for the Graham-Longo Hyatt Place Pittsburgh-North Shore 260 North Shore Drive, Pittsburgh PA 15212 Rate - $189.00 Please make reservations by 6/19/2015 For reservations call: 1-800-993-2213 Or visit: Pittsburghnorthshore.place.hyatt.com Enter stay dates: July 10, 2015 to July 12, 2015 type G-GRLO under the corporate or group code box 260 N Shore Dr Pittsburgh, PA 15212</p>
</div>
</div>

<div class ="left">
<img src="http://www.rileyisme.com/wp-content/uploads/2014/10/Marriott_City_Center_Front_2.jpg" alt="Marriot City Center" width="400" height="auto"/>
<div class ="paragraph">
<h3>Marriot City Center </H3>
<p> A block of room is also reserved at the Pittsburgh Marriot Center, 112 Washington Place Graham-Longo Wedding Start date: 7/10/15 End date: 7/12/15 Last day to book by: 6/19/15 Marriott hotel(s) offering your special group rate: Pittsburgh Marriott City Center for 149.00 USD per night <a href="http://tinyurl.com/n83yt4m">link to our block </a> Our downtown Pittsburgh hotel is located directly across from CONSOL Energy Center and just steps from the heart of the business district. Pittsburgh Airport (PIT) is just 18 miles from our hotel in downtown Pittsburgh, PA. </p>
</div>
</div>

<footer class="wrapper">
 <h2></h2>
</footer>

</div>
</div>
</body>
</html>
