
<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta name="description" content="">
<meta name="author" content="">
<link rel="icon" href="../../favicon.ico">

<title>Riley &amp; Tom</title>

<!-- Bootstrap core CSS -->
<link href="../../dist/css/bootstrap.min.css" rel="stylesheet">

<!-- Custom styles for this template -->
<link href="starter-template.css" rel="stylesheet">

<!-- Just for debugging purposes. Don't actually copy these 2 lines! -->
<!--[if lt IE 9]><script src="../../assets/js/ie8-responsive-file-warning.js"></script><![endif]-->
<script src="../../assets/js/ie-emulation-modes-warning.js"></script>

<!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
<!--[if lt IE 9]>
<script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
<script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
<![endif]-->

<link href='http://fonts.googleapis.com/css?family=Allura' rel='stylesheet' type='text/css'>
<link href='http://fonts.googleapis.com/css?family=Lato' rel='stylesheet' type='text/css'>

<style type="text/css">

p{
    padding-top: 10px;
}

body {
    padding-top: 50px;
    font-family: 'Lato', sans-serif;
}
h1 {
    font-family: 'Allura', cursive;
}
h2 {
    font-family: 'Allura', cursive;
}
.navbar-brand {
    font-family: 'Allura', cursive;
}
</style>

</head>

<body>

<nav class="navbar navbar-inverse navbar-fixed-top">
<div class="container">
<div class="navbar-header">
<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
<span class="sr-only">Toggle navigation</span>
<span class="icon-bar"></span>
<span class="icon-bar"></span>
<span class="icon-bar"></span>
</button>
<a class="navbar-brand" href="../">Tom & Riley | 7.11 </a>
</div>
<div id="navbar" class="collapse navbar-collapse">
<ul class="nav navbar-nav">

<li><a href="../pages/about">About Us</a></li>
<li class="active"><a href="../folder/wedding">Wedding</a></li>
<li><a href="../gifts/registries">Registries</a></li>

</ul>
</div><!--/.nav-collapse -->
</div>
</nav>


<div class="page-header">
<h1>Our Wedding</h1>
</div>

<div class="page-header">
<h1>Map of events!</h1>
<p> Click the map markers, for more details. To view a google map click <a href="https://mapsengine.google.com/map/edit?hl=en&authuser=0&mid=znvAMPOLTnJ0.k5BxW5IwrABc"> here. </a>
<iframe width='100%' height='500px' frameBorder='0' src='https://a.tiles.mapbox.com/v4/lrileygraham.k11837ge/attribution,zoompan,zoomwheel,geocoder,share.html?access_token=pk.eyJ1IjoibHJpbGV5Z3JhaGFtIiwiYSI6ImxrOG5fVGcifQ.mTY2b29NSnZa7_yCb8F-Ag#15/40.4396/-80.0005'></iframe></p>
</div>

<div class="page-header">
<h1>Ceremony</h1>
<p><img src="http://www.rileyisme.com/wp-content/uploads/2014/10/6265148240_f5e923356e-e1414693817948.jpg" alt="Saint Mary's of the Mount" width="400" height="auto" style="max-width:100%;height:auto;" /></p>
<p> Our Catholic wedding ceremony will be held at Saint Mary of the Mount on Mount Washington in Pittsburgh, PA. It will begin at 1:00 PM sharp! The Church is at 403 Grandview Avenue. There is a parking lot located to the left of the church. Additional parking is available on Ulysses St. or Bertha St. Please Note: If you are going to be walking around or taking the incline down to Station Sq. after the ceremony, please do not park in the church parking lot (or be sure to move your vehicle). There will be another wedding immediately after ours and you will be blocked in. </p>
</div>

<div class="page-header">
<h1>Reception</h1>
<p><img src="http://www.rileyisme.com/wp-content/uploads/2014/10/HistoryCener_from_Strip_District-e1414693616446.jpg" alt="Heinz History Center" width="400" height="auto" style="max-width:100%;height:auto; " /></p>
<p> The reception will follow, starting at 5 PM, at the Heinz History Center PPG Public Parking - 1301 Smallman Street Parking Lot ALCO Parking - 13th and Smallman Street. An affiliate of the Smithsonian Institution, the History Center is the largest history museum in Pennsylvania. The 275,000 sq. ft. museum - recently named "Best Museum" by the readers of Pittsburgh Magazine - features six floors of long-term and changing exhibition space, including the Western Pennsylvania Sports Museum, a dynamic museum-within-a-museum, and the Library & Archives, an extensive scholarly resource documenting 250 years of life in Western Pennsylvania.  </p>
</div>

<div class="page-header">
<h1>Hotels</h1>
<p>We have two hotels with a wedding block. Sunday morning we will have brunch at the hyatt house, so if you can't decide which hotel to stay at, we highly suggest the Hyatt house</p>
</div>

<div class="page-header">
<h2>Hyatt Place North Shore</h2>
<p><img src="http://www.rileyisme.com/wp-content/uploads/2014/10/737x415xPITZN_P001-Exterior-with-Ballpark-EH.jpg.pagespeed.ic_.SrzG1-lbZj.jpg" alt="Hyatt Place North Shore" width="400" height="auto" style="max-width:100%;height:auto; " /></p>
<p> A block of rooms has been for the Graham-Longo Hyatt Place Pittsburgh-North Shore 260 North Shore Drive, Pittsburgh PA 15212 Rate - $189.00 per night. Rate includes breakfast each day! Please make reservations by 6/19/2015. For reservations call: 1-800-993-2213 Or visit: Pittsburghnorthshore.place.hyatt.com Enter stay dates: July 10, 2015 to July 12, 2015 type G-GRLO under the corporate or group code box 260 N Shore Dr Pittsburgh, PA 15212. We will have shuttle arrangements available for transportation to and from the reception from the Hyatt Place. </p>
</div>

<div class="page-header">
<h2>Marriott City Center </h2>
<p><img src="http://www.rileyisme.com/wp-content/uploads/2014/10/Marriott_City_Center_Front_2.jpg" alt="Marriot City Center" width="400" height="auto" style="max-width:100%;height:auto;" /></p>
<p> A block of rooms is also reserved at the Pittsburgh Marriott Center, 112 Washington Place Graham-Longo Wedding Start date: 7/10/15 End date: 7/12/15 Last day to book by: 6/19/15 Marriott hotel(s) offering your special group rate: Pittsburgh Marriott City Center for 149.00 USD per night. Here is a <a href="http://tinyurl.com/n83yt4m">link to our block. </a> Our downtown Pittsburgh hotel is located directly across from CONSOL Energy Center and just steps from the heart of the business district. Pittsburgh Airport (PIT) is just 18 miles from our hotel in downtown Pittsburgh, PA. We will have shuttle arrangements available for transportation to and from the reception from the Marriott City Center. </p>
</div>

<div class="page-header">
<h1>July 11 Pittsburgh weekend events</h1>
</div>

<div class="page-header">
<h2>Pirates Vs. Cardinals </h2>
<p><img src="http://2.bp.blogspot.com/-a0h8gBpdHKQ/UfiIax8sExI/AAAAAAAACT0/Pq8y99cyJQ8/s1600/MLB%252520-%252520Cards_V_Pirates.jpg" alt="Pirates V Cardinals" width="400" height="auto" style="max-width:100%;height:auto;" /></p>
<p><img src="http://www.rileyisme.com/wp-content/uploads/2014/11/Screen-Shot-on-2014-11-24-at-18-01-34.png" alt="Pirates V Cardinals" width="900" height="auto" style="max-width:100%;height:auto;" /> </p>
<p> On July 9 The Pirates play the Cardinals 7:05 pm at home. On July 10 The Pirates play the Cardinals 7:05 pm at home. On July 11 The Pirates play the Cardinals 4:05 pm at home.  On July 12 The Pirates play the Cardinals 1:35 pm at home. The stadium is on the same city block as the Hyatt Place North Shore. </p>
</div>

<div class="page-header">
<h2>Anthrocon </h2>
<p><img src="http://www.anthrocon.org/files/anthrocon/group.jpg" alt="Anthrocon" width="400" height="auto" style="max-width:100%;height:auto;" /></p>
<p> Anthrocon is the world's largest convention dedicated exclusively to cartoon animal fandom. Last year, 5,861 cartoon animals filled the city of Pittsburgh. This year the event will be held at David L. Lawrence Convention Center on the weekend of July 9-12, 2015. Interesting characters will be all over the city. The Hyatt hotel does not house members from the conference, but the Marriott city center does. Enjoy the eye candy!
</p></div>

<div class="page-header">
<h2>The Heinz History Center</h2>
<p><img src="http://cravecoasters.files.wordpress.com/2012/01/img_6314.jpg" alt="Heinz History Center" width="400" height="auto" style="max-width:100%;height:auto;" /></p>
<p> As a guest of our wedding you have free access to the history center during the afternoon of July 11! After our ceremony at St. Mary's of the Mount, gather your things and head to the Heinz History Center. The exhibits range from a fully dedicated sports museum, Senator John Heinz: A Western Pennsylvania Legacy to miniature rollarcoast rides, mimicking our beloved Kennywood. </p> 
</div>




<footer>
<p>&copy; Riley & Tom 2014</p>
</footer>
</div><!-- /.container -->


<!-- Bootstrap core JavaScript
================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
<script src="../../dist/js/bootstrap.min.js"></script>
<!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
<script src="../../assets/js/ie10-viewport-bug-workaround.js"></script>
</body>
</html>
