<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
<head>

<head>
<title>Wedding</title>
<%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
<%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
<%= csrf_meta_tags %>


<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
<title></title>
<meta name="description" content="">
<meta name="viewport" content="width=device-width, initial-scale=1">

<link href="http://fonts.googleapis.com/css?family=Quattrocento" rel='stylesheet' type='text/css'>
<link href="http://fonts.googleapis.com/css?family=Quattrocento+Sans" rel='stylesheet' type='text/css'>

<script>
(function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
    (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
})(window,document,'script','//www.google-analytics.com/analytics.js','ga');

ga('create', 'UA-57329539-1', 'auto');
ga('send', 'pageview');

</script>

</head>


<body>
<div class="header-container">
<header class="wrapper clearfix">


<ul class="nav nav-tabs">
<li role="presentation"><a href="../pages/about">About Us</a></li>
<li role="presentation" class="active"><a href="#">Wedding</a></li>
<li role="presentation"><a href="../gifts/registries">Registries</a></li>
</ul>

</header>
</div>


<div class ="paragraph">
<h2>Map of events!</h2>
<p> Click the map markers for more details! To view a google map click <a href="https://mapsengine.google.com/map/edit?hl=en&authuser=0&mid=znvAMPOLTnJ0.k5BxW5IwrABc"> here. </a>
<iframe width='100%' height='500px' frameBorder='0' src='https://a.tiles.mapbox.com/v4/lrileygraham.k11837ge/attribution,zoompan,zoomwheel,geocoder,share.html?access_token=pk.eyJ1IjoibHJpbGV5Z3JhaGFtIiwiYSI6ImxrOG5fVGcifQ.mTY2b29NSnZa7_yCb8F-Ag#14/40.4411/-79.9981'></iframe></p>
</div>



<div class ="left">
<img src="http://www.rileyisme.com/wp-content/uploads/2014/10/6265148240_f5e923356e-e1414693817948.jpg" alt="Saint Mary's of the Mount" width="400" height="auto" style="max-width:100%;height:auto;" />
<div class ="paragraph">
<h2>Ceremony</h2>
<p> Our Catholic wedding ceremony will be held at Saint Mary of the Mount on Mount Washington in Pittsburgh, PA. It will begin at 1:00 PM sharp! The Church is at 403 Grandview Avenue. There is a parking lot located to the left of the church. Additional parking is available on Ulysses St. or Bertha St. Please Note: If you are going to be walking around or taking the incline down to Station Sq. after the ceremony, please do not park in the church parking lot (or be sure to move your vehicle). There will be another wedding immediately after ours and you will be blocked in. </p>
</div>
</div>

<div class ="left">
<img src="http://www.rileyisme.com/wp-content/uploads/2014/10/HistoryCener_from_Strip_District-e1414693616446.jpg" alt="Heinz History Center" width="400" height="auto" style="max-width:100%;height:auto; " />
<div class ="paragraph">
<h2>Reception</h2>
<p> The reception will follow, starting at 5 PM, at the Heinz History Center PPG Public Parking - 1301 Smallman Street Parking Lot ALCO Parking - 13th and Smallman Street. An affiliate of the Smithsonian Institution, the History Center is the largest history museum in Pennsylvania. The 275,000 sq. ft. museum - recently named "Best Museum" by the readers of Pittsburgh Magazine - features six floors of long-term and changing exhibition space, including the Western Pennsylvania Sports Museum, a dynamic museum-within-a-museum, and the Library & Archives, an extensive scholarly resource documenting 250 years of life in Western Pennsylvania.  </p>
</div>
</div>


<div class ="left">
<img src="http://www.rileyisme.com/wp-content/uploads/2014/10/737x415xPITZN_P001-Exterior-with-Ballpark-EH.jpg.pagespeed.ic_.SrzG1-lbZj.jpg" alt="Hyatt Place North Shore" width="400" height="auto" style="max-width:100%;height:auto; " />
<div class ="paragraph">
<h2>Hotels</h2>
<h3>Hyatt Place North Shore</H3>
<p> A block of rooms has been for the Graham-Longo Hyatt Place Pittsburgh-North Shore 260 North Shore Drive, Pittsburgh PA 15212 Rate - $189.00 per night. Rate includes breakfast each day! Please make reservations by 6/19/2015. For reservations call: 1-800-993-2213 Or visit: Pittsburghnorthshore.place.hyatt.com Enter stay dates: July 10, 2015 to July 12, 2015 type G-GRLO under the corporate or group code box 260 N Shore Dr Pittsburgh, PA 15212.</p>
</div>
</div>

<div class ="left">
<img src="http://www.rileyisme.com/wp-content/uploads/2014/10/Marriott_City_Center_Front_2.jpg" alt="Marriot City Center" width="400" height="auto" style="max-width:100%;height:auto;" />
<div class ="paragraph">
<h3>Marriott City Center </H3>
<p> A block of rooms is also reserved at the Pittsburgh Marriott Center, 112 Washington Place Graham-Longo Wedding Start date: 7/10/15 End date: 7/12/15 Last day to book by: 6/19/15 Marriott hotel(s) offering your special group rate: Pittsburgh Marriott City Center for 149.00 USD per night <a href="http://tinyurl.com/n83yt4m">link to our block </a> Our downtown Pittsburgh hotel is located directly across from CONSOL Energy Center and just steps from the heart of the business district. Pittsburgh Airport (PIT) is just 18 miles from our hotel in downtown Pittsburgh, PA. </p><p>&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; </p>
</div>


<div class ="color">
<div class ="paragraph">
<h2>Pittsburgh Events</h2> <hr>
</div>



<div class ="left">
<img src="http://2.bp.blogspot.com/-a0h8gBpdHKQ/UfiIax8sExI/AAAAAAAACT0/Pq8y99cyJQ8/s1600/MLB%252520-%252520Cards_V_Pirates.jpg" alt="Pirates V Cardinals" width="400" height="auto" style="max-width:100%;height:auto;" />
<div class ="paragraph">
<h3>Pirates vs. Cardinals </H3>
<p> On July 9 The Pirates play the Cardinals 7:05 pm at home. On July 10 The Pirates play the Cardinals 7:05 pm at home. On July 11 The Pirates play the Cardinals 4:05 pm at home.  On July 12 The Pirates play the Cardinals 1:35 pm at home. The staduim is on the same city block as the Hyatt Place North Shore.  <p>&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; </p>
</p>
<img src="http://www.rileyisme.com/wp-content/uploads/2014/11/Screen-Shot-on-2014-11-24-at-18-01-34.png" alt="Pirates V Cardinals" width="900" height="auto" style="max-width:100%;height:auto; ></a>
<p>&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; </p> <p>&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; </p> <p>&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; </p>
</div>
</div>

<div class ="left">
<img src="http://www.anthrocon.org/files/anthrocon/group.jpg" alt="Anthrocon" width="400" height="auto" style="max-width:100%;height:auto;" />
<div class ="paragraph">
<h3>Anthrocon</H3>
<p> Anthrocon is the world's largest convention dedicated exclusively to cartoon animal fandom. Last year, 5,861 cartoon animals filled the city of Pittsburgh. This year the event will be held at David L. Lawrence Convention Center on the weekend of July 9-12, 2015. Interesting characters will be all over the city. The Hyatt hotel does not house members from the conference, but the Marriott city center does. Enjoy the eye candy!
</p> <p>&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; </p> <p>&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; </p>
</div>
</div>

<div class ="left">
<img src="http://cravecoasters.files.wordpress.com/2012/01/img_6314.jpg" alt="Heinz History Center" width="400" height="auto" style="max-width:100%;height:auto;" />
<div class ="paragraph">
<h3> The Heinz History Center</H3>
<p> As a guest of our wedding you have free access to the history center during the afternoon of July 11! After our ceremony at St. Mary's of the Mount, gather your things and head to the Heinz History Center. The exhibits range from a fully dedicated sports museum, Senator John Heinz: A Western Pennsylvania Legacy to miniature rollarcoaster rides, mimicking our beloved Kennywood. </p> <p>&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; </p> <p>&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; </p>
</div>
</div>
</div>



<footer class="wrapper">
<h2></h2>
</footer>

</div>
</div>
</body>
</html>

</div>


</body>
</html>
</div>