
<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->

<head>
<title>About Us</title>
<%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
<%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
<%= csrf_meta_tags %>


<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
<title></title>
<meta name="description" content="">
<meta name="viewport" content="width=device-width, initial-scale=1">

<link href="http://fonts.googleapis.com/css?family=Quattrocento" rel='stylesheet' type='text/css'>
<link href="http://fonts.googleapis.com/css?family=Quattrocento+Sans" rel='stylesheet' type='text/css'>


</head>


<body>
<div class="header-container">
<header class="wrapper clearfix">


<ul class="nav nav-tabs">
<li role="presentation"><a href="../pages/about">About Us</a></li>
<li role="presentation"><a href="../folder/wedding">Wedding</a></li>
<li role="presentation" class="active"><a href="#">Registries</a></li>
</ul>


</header>
</div>

<div class="main-container">
<div class="main wrapper clearfix">


<div class ="paragraph">
<h2>Registries</h2>
<p> Browse, purchase, or don't purchase. The truth is, all we want for a gift, is your presence at our wedding! </p>
</div>

<div class="group">

<span>
<a href="http://www.ourdreamhoneymoon.com/graham.longo.14833" target="_blank" ><img src="http://www.rileyisme.com/wp-content/uploads/2014/11/New-Zealand.jpg" alt="Honeymoon" width="250" height="auto" style="max-width:100%;height:auto;" />
<p>Honeymoon</p> </a>
</span>
<span>
<a href="http://www.crateandbarrel.com/Gift-Registry/riley-graham-and-tom-longo/r5228801" target="_blank">
<img src="http://cdn.decorpad.com/photos/2012/12/14/9ef66eab05a1.jpg" alt="Crate and Barrel" width="250" height="auto" style="max-width:100%;height:auto;"/>
<p>Crate &amp; Barrel</p> </a>
</span>
<span>
<a href="http://www.bedbathandbeyond.com/store/giftregistry/view_registry_guest.jsp?pwsToken=&eventType=Wedding&registryId=541541008&pwsurl" target="_blank">
<img src="http://yacineaziz.com/wp-content/uploads/2014/10/Splendid-Bed-Bath-And-Beyond-Curtains-decorating-ideas-for-Bedroom-Traditional-design-ideas-with-Splendid-bed-in-front.jpg" alt="Bed Bath and Beyond" width="250" height="auto" style="max-width:100%;height:auto;"/>
<p>Bed Bath &amp; Beyond</p> </a>
</span>

</div>


<footer class="wrapper">
<h2></h2>
</footer>

</div>
</div>
</body>
</html>