<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
<head>

<head>
<title>About Us</title>
<%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
<%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
<%= csrf_meta_tags %>


<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
<title></title>
<meta name="description" content="">
<meta name="viewport" content="width=device-width, initial-scale=1">

<link href="http://fonts.googleapis.com/css?family=Quattrocento" rel='stylesheet' type='text/css'>
<link href="http://fonts.googleapis.com/css?family=Quattrocento+Sans" rel='stylesheet' type='text/css'>

</head>


<body id="active2">
<div class="header-container">
<header class="wrapper clearfix">
<nav>
<ul>

<li class="active"><a href="../pages/about">About Us</a></li>
<li class="active"><a href="../folder/wedding">Wedding</a></li>
<li class="selected">Registries</li>

</ul>
</nav>
</header>
</div>

<div class="main-container">
<div class="main wrapper clearfix">


<div class ="paragraph">
<h2>Registries</h2>
<p>We have a couple things on this list, but by no means is this an end all be all. All we want for a gift, is your presence at our wedding! </p>
<img src="http://lovelybella.com/wp-content/uploads/2014/04/gift-box.jpg" alt="" width="930" height="auto" style="max-width:100%;height:auto; " /> <p>&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; </p>
</div>



<div class ="left">
<img src="http://www.rileyisme.com/wp-content/uploads/2014/11/New-Zealand.jpg" alt="Honeymoon" width="300" height="auto" style="max-width:100%;height:auto;" />
<div class ="paragraph">
<h3>Honeymoon</h3>
<p> <a href= "http://www.ourdreamhoneymoon.com/graham.longo.14833"> Honeymoon registry <a> We’ve been asked what we’d like for a gift and the answer is simple: you, at our wedding, having a great time. But if you insist then we’ll say what we’d also love is the most amazing honeymoon possible. We have the basics covered but we’re hoping for the vacation of a lifetime. We want to see and do everything we’ve dreamed about and if you’d like to help us with that then read on! Here’s how our registry works. Just pick the item you’d most like to give us. You’ll be asked to leave your name and any message you have for us. On the day, bring the value of your gift in a card. We’ll send you a photo of us enjoying your gift when we return, along with our sincerest thanks.
</p>
</div>
</div>


<div class ="left">
<img src="http://www.polyvore.com/cgi/img-thing?.out=jpg&size=l&tid=48682386" alt="Crate and Barrel" width="300" height="auto" style="max-width:100%;height:auto; " />
<div class ="paragraph">
<h3>Crate and Barrel</h3>
<p> <a href= "http://www.crateandbarrel.com/Gift-Registry/riley-graham-and-tom-longo/r5228801" > Crate and Barrel registry! </a> It says, Illinois because that is where we live :) We have a lot of kitchen things on this registry, and some things come in large sets for matching purposes. The kitchen is an important place, that Tom and I need to get more famialr with. It can be a little overwhemling to go through our list, but you'll find more singular items in the bed bath and beyond section. </p> <p>&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; </p> <p>&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; </p>
</div>
</div>

<div class ="left">
<img src="http://yacineaziz.com/wp-content/uploads/2014/10/Splendid-Bed-Bath-And-Beyond-Curtains-decorating-ideas-for-Bedroom-Traditional-design-ideas-with-Splendid-bed-in-front.jpg" alt="Bed Bath and Beyond" width="300" height="auto" style="max-width:100%;height:auto;" />
<div class ="paragraph">
<h3>Bed Bath and Beyond</h3>
<p><a href= "http://www.bedbathandbeyond.com/store/giftregistry/view_registry_guest.jsp?pwsToken=&eventType=Wedding&registryId=541541008&pwsurl" line height ="5 px" > Bed bath and beyond registry </a> We put matching linens, bedroom and bathroom attire here. Hopefully it all make sense, but if you can't find something you relate to and you still want to get us a gift, cash is always excepted :) Thank you so much!! </p>
</div>
</div>



<footer class="wrapper">
<h2></h2>
</footer>

</div>
</div>
</body>
</html>