<h1>Pages#about</h1>
<p>Find me in app/views/pages/about.html.erb</p>



  <div class="header-container">
            <header class="wrapper clearfix">
                <h1 class="title">Our Wedding</h1>
                <nav>
                    <ul>

                        <li class="active"><a href="#">About Us</a></li>
                        <li><a href="#">Wedding</a></li>
                        <li><a href="#">Registries</a></li>
                    </ul>
                </nav>
            </header>
        </div>
HELLO
