
<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->

<head>
<title>About Us</title>
<%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
<%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
<%= csrf_meta_tags %>


<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
<title></title>
<meta name="description" content="">
<meta name="viewport" content="width=device-width, initial-scale=1">

<link href="http://fonts.googleapis.com/css?family=Quattrocento" rel='stylesheet' type='text/css'>
<link href="http://fonts.googleapis.com/css?family=Quattrocento+Sans" rel='stylesheet' type='text/css'>

<script>
(function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
    (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
})(window,document,'script','//www.google-analytics.com/analytics.js','ga');

ga('create', 'UA-57329539-1', 'auto');
ga('send', 'pageview');

</script>


</head>
<body>
<div class="header-container">
<header class="wrapper clearfix">


<ul class="nav nav-tabs">
<li role="presentation" class="active"><a href="#">About Us</a></li>
<li role="presentation"><a href="../folder/wedding">Wedding</a></li>
<li role="presentation"><a href="../gifts/registries">Registries</a></li>
</ul>

</header>
</div>

<div class ="paragraph">
<h2>About Us</h2>
<p> Riley Graham is a Dayton and DePaul University Grad. She is a user experience design consultant at a Chicago design firm, Fuzzy Math.  Tom Longo is a Domer working as an internal auditor at Kraft Foods.  Together we enjoy travelling, live concerts, Thai food, craft beer, and enjoying the company of our dog, Pipper.  Pipper is cute and hates squirrels. </p>
</div>

<div class ="paragraph">
<h2>How We Met</h2>
<p> Tom has had a habit of showing up uninvited to the birthday parties of his sister, Maureen.  In April 2012, Maureen (Mo) and Erin invited him to crash someone else’s birthday party – Riley’s!  Mo and Erin introduced Tom and Riley who, after several Motown dance parties, decided to get hitched. </p>
</div>


<div class ="paragraph">
<h2>Our Proposal</h2>
<p> Tom, Riley, Mo, and Erin took a trip to the <a href= "http://www.chicagobotanic.org/"> Chicago Botanical Gardens </a>  in suburban Chicago, where Riley was expecting a quick stop before an evening concert.  After searching and finding a private spot on a hill, under a tree, across a small river, Tom led Riley there and proposed.  Mo and Erin took beautiful pictures and nobody cried at all, nope, no way, no crying, it was in no way emotional. </p>
</div>

<div class ="paragraph">
<h2>Our Wedding Party</h2>
<p> We are so grateful to be surrounded by many wonderful people, particularly our families. We are fortunate to be able to see our family often. Each one of these individuals helps us every day, and we hope they understand how much their help means to us! </p>
</div>









<!-- ANDREA! -->

<div class ="left">
<img src="http://www.rileyisme.com/wp-content/uploads/2014/10/IMG_0058.jpg" alt="Andrea and I" width="300" height="auto"/>
<div class ="paragraph">
<h2> Andrea Graham (Sister of the bride) – Maid of Honor </h2>
<p> Andrea, who dubbed Riley with the name “Lawa,” is her one and only sibling.  Andrea and Lawa did a lot together, and being about 3 years apart they were able to attend most schools together, including the University of Dayton.  Andrea, although younger, has always been wiser (Maybe that’s because Lawa always made her do everything first, most notably take booster shots first).  Andrea and Lawa are very similar, which has caused many a hair-pull back in the day.  However, I can gladly report that the last hair pull ended somewhere around ’93.  Today the girls live 461 miles apart, but that doesn’t stop their frequent visits.  In fact, there will be many more visits this year because Andrea and Conor are engaged!  Congrats you two, we love you both.
</p>
</div>
</div>




<!-- MO! -->

<div class ="left">
<img src="http://www.rileyisme.com/wp-content/uploads/2014/10/IMG_4060.jpg" alt="Mo" width="300" height="auto" /></div>
<div class ="paragraph">
<h2> Maureen Longo (Sister of the groom) </h2>
<p> Tom and his sister Maureen (“Mo”, “Beefcake”, “Beef”, “Barf”, “Braf”, “Berf”, etc.) have been friends since her birth in 1985, although it wasn’t Facebook-official until 2005.  Growing up, Tom and Mo played each other’s drumsets, played on competing sports teams, and had starring roles in several Longo Family Videos. Her kindness knows no bounds. She is super nice and creative and she has a sharp eye for beautiful aesthetics. We love her!
</p>
</div>









<!-- STEVE! -->

<div class ="left">
<img src="http://www.rileyisme.com/wp-content/uploads/2014/10/IMG_5898-e1414533986842.jpg" alt="Steve" width="300" height="auto" /></div>
<div class ="paragraph">
<h2> Steve Longo (Brother of the groom) – Best Man </h2>
<p> Steve is a full-service one-stop-shop of a big brother.  He is a man of many talents. </p>


<h3> He can: </h3>

<ul>
<li> Replace your light bulbs </li>
<li> Fix your television, garbage disposal, icemaker, furnace, bathroom sink </li>
<li> Pick you up from the airport on a minute’s notice </li>
<li> Walk your dog </li>
<li> Taste-test your cooking </li>
<li> Assess and advise on your financial portfolio </li>
<li> Solve your worst logistical problems </li>
<li >Predict traffic patterns </li>
<li> Feverishly root for your college football team, your fantasy team, or any team you ask him to. </li>
<li> Give awesome “Steve lectures” (“Steve, why are New York subways so confusing?  How did the Gregorian and Julian calendars influence international conflict?  Why did the Borg name Locutus?")  </li>
<li> Secure the wedding rings </li>
</ul>


<p> We are blessed to have him and we truly don’t know how we would function without him. </p>

</div>










<!-- ERIN! -->





<div class ="left">
<img src="http://www.rileyisme.com/wp-content/uploads/2014/10/IMG_0055-e1414533625252.jpg" alt="Erin" width="300" height="auto" /></div>
<div class ="paragraph">
<h2> Erin Basch (Sister-in-law of the groom)  </h2>
<p> Erin joined the Longo extended family in 2013 when she married Mo.  She is incredibly creative.  She appreciates all sorts of music – everything from classical music to Nas and Eazy-E.  She knows exactly how to turn that frown upside-down.  She is a LIL (Longo-in-Law) and is prepared to induct Riley into this exclusive club.  She is an avid Browns fan and we hope she enjoys her time in Pittsburgh.
</p>
<p> We are so grateful that she is part of our family, and we look forward to picking her brain for music suggestions! </p>
</div>








<!-- CONOR! -->



<div class ="left">
<img src="http://www.rileyisme.com/wp-content/uploads/2014/10/IMG_0172-e1412953696159.jpg" alt="Conor" width="300" height="auto" /></div>
<div class ="paragraph">
<h2> Conor Ryan (Future brother-in-law of the bride) </h2>
<p> Conor will be marrying Andrea in October 2015, at which time he will join Tom in becoming a “Smythe” (ask any of the extended Graham family what this means). Like Riley, Andrea, Erin, and Mo, Conor also attended the University of Dayton where he participated in band with Erin and Mo.  Conor works for PNC, which we presume is only temporary until one of his many ideas catches fire.  Are you interested in having a robot make your sandwich?  If so, please talk to Conor about an investment opportunity.
</p>
<p>Conor is a genuine guy and we are thrilled to have him in our wedding and in our family!</p>
</div>










<!-- FINAL! -->







<footer class="wrapper">
<h2></h2>
</footer>

</div>
</div>
</body>
</html>




</div>



</body>
</html>