<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
    <head>
    
    <head>
  <title>About Us</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>


        <meta charset="utf-8">
            <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
                <title></title>
                <meta name="description" content="">
                    <meta name="viewport" content="width=device-width, initial-scale=1">

                                <link href="http://fonts.googleapis.com/css?family=Quattrocento" rel='stylesheet' type='text/css'>
                                    <link href="http://fonts.googleapis.com/css?family=Quattrocento+Sans" rel='stylesheet' type='text/css'>
                                
                                <script src="js/vendor/modernizr-2.6.2-respond-1.1.0.min.js"></script>
                                </head>
    
     
       <body>
    <div class="header-container">
            <header class="wrapper clearfix">
               <h1 class="title"><a href="../">Our Wedding</a></h1>
                <nav>
                    <ul>

                        <li class="active"><a href="#">About Us</a></li>
                        <li class="active"><a href="../folder/wedding">Wedding</a></li>
                        <li><a href="#">Registries</a></li>

                    </ul>
                </nav>
            </header>
                </div>


    <div class="main-container">
        <div class="main wrapper clearfix">

            <section>
            <h2>Our Proposal</h2>
            <p> I'll let Tom tell the story :) Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam sodales urna non odio egestas tempor. Nunc vel vehicula ante. Etiam bibendum iaculis libero, eget molestie nisl pharetra in. In semper consequat est, eu porta velit mollis nec. Curabitur posuere enim eget turpis feugiat tempor. Etiam ullamcorper lorem dapibus velit suscipit ultrices. Proin in est sed erat facilisis pharetra.Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam sodales urna non odio egestas tempor. Nunc vel vehicula ante. Etiam bibendum iaculis libero, eget molestie nisl pharetra in. In semper consequat est, eu porta velit mollis nec. Curabitur posuere enim eget turpis feugiat tempor. Etiam ullamcorper lorem dapibus velit suscipit ultrices. Proin in est sed erat facilisis pharetra. </p>
            </section>

            <section>
            <h2>Our Wedding Party</h2>
        <p> Tom and I, spent a lot of time discussing the importance of many people in our lives. Ultimately, we felt that this time together would be best spent with our family. So our quant, yet vibrant, wedding party will be Andrea Graham, Maureen Longo, Steve Longo, Erin Basch and Conor Ryan. Luckily, we get to see these jokers often, so we thought we'd develop a creative way to ask them to be apart of our wedding. Each one of these people helps us everyday. However, it occured to us, that this event may require a special kind of help. </p>

        <div class ="movie">

                <iframe src="//player.vimeo.com/video/106976360" width="500" height="500" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe> <p><a href="http://vimeo.com/106976360">Andrea</a> will you be in our wedding?!
        </div>
        <div class ="movieside">
                <img src="http://www.rileyisme.com/wp-content/uploads/2014/10/IMG_0058.jpg" width="250"> </img>
                   A little about Andrea,
        </div>

                <iframe src="//player.vimeo.com/video/106976484" width="700" height="700" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe> <p><a href="http://vimeo.com/106976484">Mo</a> will you be in our wedding?!</p>

                <p> A little about Mo, </p>

                <iframe src="//player.vimeo.com/video/106976485" width="700" height="700" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe> <p><a href="http://vimeo.com/106976485">Steve</a> will you be in our wedding?!.</p>


                <p> A little about Steve, </p>


                <iframe src="//player.vimeo.com/video/106976483" width="700" height="700" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe> <p><a href="http://vimeo.com/106976483">Erin</a> will you be in our wedding?!</p>


                <p> A little about Erin,


                <img src="http://www.rileyisme.com/wp-content/uploads/2014/10/IMG_5720.jpg" width="700"> </img>

                </p>


                <iframe src="//player.vimeo.com/video/106976425" width="700" height="700" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe> <p><a href="http://vimeo.com/106976425">Conor</a> will you be in our wedding?!</p>


                <p> A little about Conor, </p>


        <p> Eventually, we decided to get real and ask them the question. </p>

        </div>



        <div class ="movie">

                <iframe src="//player.vimeo.com/video/106976486" width="700" height="700" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe> <p><a href="http://vimeo.com/106976486">Final</a> asking our party to be in our wedding!</p>

        <p> They said, "YES!" </p>

        </div>

<!--
<a name="engagement"></a>
<h2> An Engagement Party!</h2>

    <section>

        <p> The location of our wedding will be Pittsburgh, PA where I (Riley, the bride) am from. However, we wanted to provide a special outlet for our local yokals, in the city where we live and love, Chicago, IL. As a result, we decided to have an engagement party! We are so lucky to have so many amazing friends, but we are especially lucky to have John Jarosz and Chris Lloyd. These two were around when we first started dating and guided us with advice and Macallans whiskey, as we built our relationship. John and Chris have graciously offered to host our Engagement party at their home on

<div class= "movie">

<p> <b> Where </b> 2800 Sheridan Road Chicago, IL </p>
<p> <b> When </b> Decemeber 7th, 2014 from 3 PM to 7 PM. </p>
<p> <b> How </b> Please RSVP to Riley by November 22, 2014</p>

    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2968.123603044512!2d-87.63967730000002!3d41.933195300000015!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x880fd30ae78d6c4d%3A0x48b40c3664f097bc!2s2800+N+Sheridan+Rd%2C+Chicago%2C+IL+60657!5e0!3m2!1sen!2sus!4v1412116621398" width="800" height="600" frameborder="0" style="border:0"></iframe>
</div>

<p> On Sunday, we are hoping to catch an amazing sunset in our hometown, with the amazing Chicago skyline in the background. Over a few cocktails, of course.</p>


<div class= "movie">

<img src="https://c2.staticflickr.com/6/5049/5209886277_3d0ce6b6ab_z.jpg"> </img>

</div>
    </section>

-->
        </section>

        </div>
    </div>
                    </body>



