<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
    <head>
    
    <head>
  <title>About Us</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>


        <meta charset="utf-8">
            <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
                <title></title>
                <meta name="description" content="">
                    <meta name="viewport" content="width=device-width, initial-scale=1">

                                <link href="http://fonts.googleapis.com/css?family=Quattrocento" rel='stylesheet' type='text/css'>
                                    <link href="http://fonts.googleapis.com/css?family=Quattrocento+Sans" rel='stylesheet' type='text/css'>
                                
                                <script src="js/vendor/modernizr-2.6.2-respond-1.1.0.min.js"></script>

<script>
$(document).ready(function() {
    var showChar = 500;
    var ellipsestext = "...";
    var moretext = "more";
    var lesstext = "less";
    $('.more').each(function() {
        var content = $(this).html();
        
        if(content.length > showChar) {
            
            var c = content.substr(0, showChar);
            var h = content.substr(showChar-1, content.length - showChar);
            
            var html = c + '<span class="moreellipses">' + ellipsestext+ '&nbsp;</span><span class="morecontent"><span>' + h + '</span>&nbsp;&nbsp;<a href="" class="morelink">' + moretext + '</a></span>';
            
            $(this).html(html);
        }
        
    });
    
    $(".morelink").click(function(){
        if($(this).hasClass("less")) {
            $(this).removeClass("less");
            $(this).html(moretext);
        } else {
            $(this).addClass("less");
            $(this).html(lesstext);
        }
        $(this).parent().prev().toggle();
        $(this).prev().toggle();
        return false;
    });
});
</script>

</head>


       <body>
    <div class="header-container">
            <header class="wrapper clearfix">
                <nav>
                    <ul>
                        <li class="selected"><h2><a href="#"> About Us  </a></h2></li>
                        <li class="active"><a href="../folder/wedding">Wedding</a></li>
                        <li class="active"><a href="../gifts/registries">Registries</a></li>

                    </ul>
                </nav>
            </header>
                </div>


    <div class="main-container">
        <div class="main wrapper clearfix">


            <div class ="paragraph">
            <h2>Our Proposal</h2>
            <p> I'll let Tom tell the story :) Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam sodales urna non odio egestas tempor. Nunc vel vehicula ante. Etiam bibendum iaculis libero, eget molestie nisl pharetra in. In semper consequat est, eu porta velit mollis nec. Curabitur posuere enim eget turpis feugiat tempor. Etiam ullamcorper lorem dapibus velit suscipit ultrices. Proin in est sed erat facilisis pharetra.Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam sodales urna non odio egestas tempor. Nunc vel vehicula ante. Etiam bibendum iaculis libero, eget molestie nisl pharetra in. In semper consequat est, eu porta velit mollis nec. Curabitur posuere enim eget turpis feugiat tempor. Etiam ullamcorper lorem dapibus velit suscipit ultrices. Proin in est sed erat facilisis pharetra. </p>
            </div>

            <div class ="paragraph">
            <h2>Our Wedding Party</h2>
        <p> Tom and I, spent a lot of time discussing the importance of the people in our lives. Ultimately, we felt that this time together would be best spent with our family. So our quant, yet vibrant, wedding party will be Andrea Graham, Maureen Longo, Steve Longo, Erin Basch and Conor Ryan. Luckily, we get to see these jokers often, so we thought we'd develop a creative way to ask them to be apart of our wedding. Each one of these people helps us everyday. However, it occured to us, that this event may require a special kind of help. </p>
            </div>

<!-- ANDREA! -->

  <div class ="paragraph">
<h2> Andrea (Sister of the bride) </h2>

<div class ="left">
<img src="http://www.rileyisme.com/wp-content/uploads/2014/10/IMG_0058.jpg" alt="Andrea and I" width="200" height="auto"/></div>

<div class ="paragraph-party">
<div class="comment more">
Andrea, who dubbed Riley with the name "Lawa," is her one and only sibbling. Andrea and Lawa did a lot together, and being about 3 years apart they were able to attend most schools together, including the University of Dayton.
Andrea, although younger, has always been wiser (Maybe thats because Lawa always made her do everything first, most notably take booster shots first). Andrea and Lawa are very similar, which has caused many a hair pull, back in the day. However, I can gladly report that the last hair pull ended somewhere around '93. Today the girls live 461 miles apart, but that doesn't stop their freqent visits. In fact, there will be many more visits this year because Andrea and Conor are engaged! Congrats you two, we love you both.


<div class= "movietext">
Although Andrea has offered us all different kinds of love and support, her wedding contribution was very edivent. During planning, we realized that Andrea is very, very helpful with the little details. This is how we asked her to be apart of our wedding! </div>

<div class ="movie">
<iframe src="//player.vimeo.com/video/106976360" width="200" height="auto" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe><a href="http://vimeo.com/106976360"></a>
</div>


</div>
</div>
</div>



<!-- MO! -->


<div class ="paragraph">
<h2> Mo (Sister of the groom) </h2>

<div class ="left">
<img src="http://www.rileyisme.com/wp-content/uploads/2014/10/IMG_4060.jpg" alt="Mo" width="200" height="auto" /></div>

<div class ="paragraph-party">
<div class="comment more">
Information about Maureen! More information about Maureen! More information about Maureen! More information about Maureen! More information about Maureen! More information about Maureen! More information about Maureen! More information about Maureen! More information about Maureen! More information about Maureen! More information about Maureen! More information about Maureen! More information about Maureen! More information about Maureen! More information about Maureen! More information about Maureen!

<div class= "movietext">
More information about Maureen! More information about Maureen! More information about Maureen! More information about Maureen! More information about Maureen! More information about Maureen! More information about Maureen! More information about Maureen! More information about Maureen! </div>


<div class ="movie">
   <iframe src="//player.vimeo.com/video/106976484" width="200" height="auto" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe> <a href="http://vimeo.com/106976484"></a>

</div>

</div>
</div>
</div>


<!-- STEVE! -->

<div class ="paragraph">
<h2> Steve (Brother of the groom) </h2>

<div class ="left">
<img src="http://www.rileyisme.com/wp-content/uploads/2014/10/IMG_5898-e1414533986842.jpg" alt="Steve" width="200" height="auto" /></div>

<div class ="paragraph-party">
<div class="comment more">
Information about steve! More information about Steve! More information about Steve! More information about Steve! More information about Steve! More information about Steve! More information about Steve! More information about Steve! More information about Steve! More information about Steve! More information about Steve! More information about Steve! More information about Steve! More information about Steve! More information about Steve! More information about Steve! More information about Steve! More information about Steve! More information about Steve!

<div class= "movietext">
More information about Steve! More information about Steve! More information about Steve! More information about Steve! More information about Steve! More information about Steve! More information about Steve! More information about Steve! More information about Steve!</div>

<div class ="movie"> <iframe src="//player.vimeo.com/video/106976485" width="200" height="auto" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe><a href="http://vimeo.com/106976485"></a>


</div>


</div>
</div>
</div>


<!-- ERIN! -->

<div class ="paragraph">
<h2> Erin (Sister-in-law of the groom) </h2>

<div class ="left">
<img src="http://www.rileyisme.com/wp-content/uploads/2014/10/IMG_0055-e1414533625252.jpg" alt="Erin" width="200" height="auto" /></div>

<div class ="paragraph-party">
<div class="comment more">
Information about Erin! More information about Erin! More information about Erin! More information about Erin! More information about Erin! More information about Erin! More information about Erin! More information about Erin! More information about Erin! More information about Erin! More information about Erin! More information about Erin! More information about Erin! More information about Erin! More information about Erin! More information about Erin! More information about Erin! More information about Erin! More information about Erin! More information about Erin! More information about Erin! More information about Erin! More information about Erin! More information about Erin! More information about Erin! More information about Erin! More information about Erin! More information about Erin! More information about Erin! More information about Erin! More information about Erin! More information about Erin! More information about Erin! More information about Erin! More information about Erin! More information about Erin! More information about Erin!

<div class= "movietext">
More information about Erin! More information about Erin! More information about Erin! More information about Erin! More information about Erin! More information about Erin! More information about Erin! More information about Erin! More information about Erin!</div>

<div class ="movie"><iframe src="//player.vimeo.com/video/106976483" width="200" height="auto" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe><a href="http://vimeo.com/106976483"></a>

</div>


</div>
</div>
</div>


<!-- CONOR! -->

<div class ="paragraph">
<h2> Conor (Future brother-in-law of the bride) </h2>


<div class ="left">
<img src="http://www.rileyisme.com/wp-content/uploads/2014/10/IMG_0172-e1412953696159.jpg" alt="Conor" width="200" height="auto" /></div>

<div class ="paragraph-party">
<div class="comment more">
nformation about Conor! More information about Conor! More information about Conor! More information about Conor! More information about Conor! More information about Conor! More information about Conor! More information about Conor! More information about Conor! More information about Conor! More information about Conor! More information about Conor! More information about Conor! More information about Conor! More information about Conor! More information about Conor! More information about Conor! More information about Conor! More information about Conor! More information about Conor! More information about Conor! More information about Conor! More information about Conor! More information about Conor! More information about Conor! More information about Conor! More information about Conor! More information about Conor!

<div class= "movietext">
 More information about Conor! More information about Conor! More information about Conor! More information about Conor! More information about Conor! More information about Conor! More information about Conor! More information about Conor! More information about Conor!</div>

<div class ="movie"><iframe src="//player.vimeo.com/video/106976425" width="200" height="auto" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe><a href="http://vimeo.com/106976425"></a>

</div>


</div>
</div>
</div>

<!-- FINAL! -->

<div class ="paragraph">
<h2> Our final question </h2>

<div class ="left">
<img src="http://www.rileyisme.com/wp-content/uploads/2014/09/IMG_3764.jpg" alt="Us" width="200" height="auto" /></div>

After we sent out all of the videos to the people above, we followed it up with this 1 final video.
We were so excited to ask our family to be in our wedding and they said, "YES!"

<iframe src="//player.vimeo.com/video/106976486" width="200" height="auto" align= "right" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe><a href="http://vimeo.com/106976486"></a>

</div>



<footer class="wrapper">
<h2></h2>
</footer>

        </div>
    </div>
</body>
</html>



