/*! HTML5 Boilerplate v4.3.0 | MIT License | http://h5bp.com/ */



::-moz-selection {
    background: none;
    text-shadow: none;
}

::selection {
    background: none;
    text-shadow: none;
}

body {
   font-family: 'Quattrocento', serif;

}


}
hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

audio,
canvas,
video {
    width: 100%;
    z-index: 0;
    vertical-align: middle;
    background: no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

name img {
  min-height: 100%;
  min-width: 1024px;
	
  /* Set up proportionate scaling */
  width: 100%;
  height: auto;
	
  /* Set up positioning */
  position: fixed;
  top: 0;
  left: 0;
}


fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

textarea {
    resize: vertical;
}

.browsehappy {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}
/* ===== Initializr Styles ==================================================
   Author: Jonathan Verrecchia - verekia.com/initializr/responsive-template
   ========================================================================== */


.wrapper {
    width: 90%;
    margin: 0 5%;
}

/* ===================
    ALL: Orange Theme
   =================== */

.header-container {
    border-bottom: 20px solid none;
}


.footer-container {
border-top: 20px solid none;
text-align: center;
    font-size: 50%;
     line-height: 120%;


}


.main aside {
    border-top: 20px solid none;
    font-size: 400%;
    line-height: 120%;
    list-style-type: none;


}

h4  {
    font-family: 'Quattrocento Sans', sans-serif;
    font-size: 65%;
    color: white;

}

.cover {
    font-family: 'Quattrocento Sans', sans-serif;
    font-size: 65%;
    color: white;

}

.header-container,
.footer-container,
.main aside {
    text-align: center;
    list-style-type: none;

}

.title {
    color: #696969;
}

li.selected {
  font-weight: 700;
  color: #0a0a0a;
          float: left;
        width: 24%;
         margin: 0 1.7%;
        padding: 25px 2%;
        list-style-type: none;
          border-style: solid;
    border-bottom: thick double #0a0a0a;
    border-top: none;
    border-left: none;
    border-right: none;
}

nav ul li.selected {
    font-weight: 700;
  color: #0a0a0a;
}

.title a {
    color: #696969;
    text-decoration: none;
    list-style-type: none;
}



.paragraph {
    padding: 20px;
    line-height: 160%;
    text-align: left;

}

.paragraph ul li {
   font-family: 'Quattrocento Sans';
    padding: 20px;
    padding-top: 1px;
    line-height: 160%;
    text-align: left;
    list-style-type: none;
}

.homecover {
    padding: 20px;
    line-height: 160%;
    text-align: center;
}



.color {
    background-color: #FAFAFA;
    padding: 10px;
   
}

.left img{
  float:left;
  padding: 20px;
  
}

.center img{
 display: block;
    margin-left: auto;
    margin-right: auto;
        border-radius: 25px;
  
}



p {
    padding: 20px;
}

.movie {
 padding-right: 20px;
 padding-top: 40px;


}

.movietext {
 padding-top: 40px;
 padding-right: 20px;
 text-align: left;
 padding-bottom: 40px;
 float: left;
 max-width: 700px;

}

/*
.movieside{
padding: 10px;
float:left;
width:500px;
}
*/


/* ==============
    MOBILE: Menu
   ============== */

nav ul {
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style-type: none;
    font: 100%;
    font-family: 'Quattrocento', serif;
}

nav a {
    display: block;
    margin-bottom: 10px;
    padding: 10px 0;

    text-align: center;
    text-decoration: none;
    color: gray;
    list-style-type: none;

}



nav a:hover {
	color: #0a0a0a;
}

nav a:visited {
    font-family: 'Quattrocento', serif;
    font-weight: 700;

}

.circular {
	display: block;
    margin-left: auto;
    margin-right: auto
	}



/* ==============
    MOBILE: Main
   ============== */


.main {
    padding: 30px 0;

}


h1 {
    color: #2d2d2d;
    padding: 30px;
    font-family: 'Quattrocento Sans', sans-serif;

}

.static a {
    color: #2d2d2d;
    padding-top: 70px;
    font-family: 'Quattrocento Sans', sans-serif;
      font-size: 450%;
      text-decoration: none;


}

.date {
  font-family: 'Quattrocento', serif;
      color: #2d2d2d;
      padding-top: 1px;
      padding-bottom: 30px;
      font-size: 97%;

}

.main aside {
    color: #696969;
    padding: 5px 5% 5px;
    border: 2px #696969;
    list-style-type: none;
}


.footer-container footer {
    color: #696969;
    padding: 20px 0;
}

/* ===============
    ALL: IE Fixes
   =============== */

.ie7 .title {
    padding-top: 40px;
}

.ie7 .static {
    padding-top: 40px;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */















/* ==========================================================================
   Media Queries
   ========================================================================== */

@media only screen and (min-width: 380px) {

/* ====================
    INTERMEDIATE: Menu
   ==================== */

    nav a {
        float: left;
        width: 24%;
        margin: 0 1.7%;
        padding: 25px 2%;
        margin-bottom: 0;
        list-style-type: none;

    }

    li.selected {
  font-weight: 700;
  color: #0a0a0a;
          float: left;
        width: 24%;
         margin: 0 1.7%;
        padding: 25px 2%;
        list-style-type: none;
          border-style: none;
    border-bottom: none;
    border-top: none;
    border-left: none;
    border-right: none;
  }

    
    h4 {
    font-family: 'Quattrocento Sans', sans-serif;
    font-size: 45%;
    color: white;

    }

    
    .cover
    {
    font-family: 'Quattrocento Sans', sans-serif;
    font-size: 45%;
    color: white;

    }


    nav li:first-child a {
        margin-left: 0;
        list-style-type: none;
    }

    nav li:last-child a {
        margin-right: 0;
        list-style-type: none;
    }
    


/* ========================
    INTERMEDIATE: IE Fixes
   ======================== */

    nav ul li {
        display: inline;
        list-style-type: none;
    }

    .oldie nav a {
        margin: 0 0.7%;
    }
}

@media only screen and (min-width: 768px) {

/* ====================
    WIDE: CSS3 Effects
   ==================== */

    .header-container,
    .main aside {
        -webkit-box-shadow: 0 0px 0px none;
           -moz-box-shadow: 0 0px 0px none;
                box-shadow: 0 0px 0px none;


    }


/* ============
    WIDE: Menu
   ============ */

    .title {
        float: left;
        padding: 20px;
    }

    .static  a {
 	color: #2d2d2d;
    padding-top: 70px;
    font-family: 'Quattrocento Sans', sans-serif;
     font-size: 450%;
     text-decoration: none;
    }

     .aside {
        float: right;
        padding: 10px;
        list-style-type: none;
    }

    nav {
        float: left;
        width: 50%;
    }

/* ============
    WIDE: Main
   ============ */

    .main .text {
        float: left;
        width: 57%;

    }

    .main aside {
        float: left;
        width: 20%;
        list-style-type: none;

    }

   aside li a {
        color: #696969;
        font-size: 25%;
        line-height: 120%;
        list-style-type: none;
        padding-bottom: 10px;
        text-decoration: none;

    }

    aside a:hover {
        color: #696969;
        text-decoration: underline;
        list-style-type: none;
    }

    aside a:visited {
        color: #808080;
        text-decoration: underline;
        list-style-type: none;
    }

    
       h4 {
    font-family: 'Quattrocento Sans', sans-serif;
    font-size: 25%;
    color: white;

    }
    
    .cover {
    font-family: 'Quattrocento Sans', sans-serif;
    font-size: 75%;
    color: white;

    }
}

@media only screen and (min-width: 1140px) {

/* ===============
    Maximal Width
   =============== */

    .wrapper {
        width: 1026px; /* 1140px - 10% for margins */
        margin: 0 auto;
    }
}

/* ==========================================================================
   Helper classes
   ========================================================================== */

.ir {
    background-color: white;
    border: 0;
    overflow: hidden;
    *text-indent: -9999px;
}

.ir:before {
    content: "";
    display: block;
    width: 0;
    height: 150%;
}

.hidden {
    display: none !important;
    visibility: hidden;
}

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}


.invisible {
    visibility: hidden;
}

.clearfix:before,
.clearfix:after {
    content: " ";
    display: table;
}

.clearfix:after {
    clear: both;
}

.clearfix {
    *zoom: 1;
}

/* ==========================================================================
   Print styles
   ========================================================================== */

@media print {
    * {
        background: transparent !important;
        color: #000 !important;
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    .ir a:after,
    a[href^="javascript:"]:after,
    a[href^="#"]:after {
        content: "";
    }

    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    thead {
        display: table-header-group;
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    img {
        max-width: 100% !important;
    }

    @page {
        margin: 0.5cm;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
        padding: 10px;
    }

    h2,
    h3 {
        page-break-after: avoid;

    }
}


