<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
    <head>
    
    <head>
  <title>Riley &amp; Tom</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>


        <meta charset="utf-8">
            <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
                <title></title>
                <meta name="description" content="">
                    <meta name="viewport" content="width=device-width, initial-scale=1">

                                <link href="http://fonts.googleapis.com/css?family=Quattrocento" rel='stylesheet' type='text/css'>
                                    <link href="http://fonts.googleapis.com/css?family=Quattrocento+Sans" rel='stylesheet' type='text/css'>
                                
                                <script src="js/vendor/modernizr-2.6.2-respond-1.1.0.min.js"></script>
                                </head>
    <body>
    

        <!--[if lt IE 7]>
         <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
         <![endif]-->
        



<div class="debug">
<label><input type="checkbox"> Debug</label>
</div>
<div class="demo__info">
</div>

<div class="parallax">
<div id="group1" class="parallax__group">
<div class="parallax__layer parallax__layer--base">
<div class="name"><h1>Welcome!</h1><p> <img src="http://www.rileyisme.com/wp-content/uploads/2014/09/cover-e1409620106485.jpg" alt="Engagement"> </p></div>
</div>
</div>
<div id="group2" class="parallax__group">
<div class="parallax__layer parallax__layer--base">
<div class="name">whaaaa?</div>
</div>
<div class="parallax__layer parallax__layer--back">
<div class="name"><img src="http://www.rileyisme.com/wp-content/uploads/2014/09/IMG_3755.jpg" alt="PITT"></div>
</div>
</div>
<div id="group3" class="parallax__group">
<div class="parallax__layer parallax__layer--fore">
<div class="name"><h1>The 911</h1><p> Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam sodales urna non odio egestas tempor. Nunc vel vehicula ante. Etiam bibendum iaculis libero, eget molestie nisl pharetra in. In semper consequat est, eu porta velit mollis nec.</p></div>
</div>
<div class="parallax__layer parallax__layer--base">
<div class="name"><h1>The 211</h1><p> Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam sodales urna non odio egestas tempor. Nunc vel vehicula ante. Etiam bibendum iaculis libero, eget molestie nisl pharetra in. In semper consequat est, eu porta velit mollis nec.</p></div>
</div>
</div>
<div id="group4" class="parallax__group">
<div class="parallax__layer parallax__layer--base">
<div class="name">testing</div>
</div>
<div class="parallax__layer parallax__layer--back">
<div class="name">The Fords</div>
</div>


<div class="parallax__layer parallax__layer--deep">
<div class="name"><img src="http://www.rileyisme.com/wp-content/uploads/2014/09/photo-1.jpg" alt="BOAT"></div>
</div>


</div>
<div id="group5" class="parallax__group">
<div class="parallax__layer parallax__layer--fore">
<div class="name">Andrea Graham</div>
</div>
<div class="parallax__layer parallax__layer--base">
<div class="name">Mary Graham</div>
</div>
</div>
<div id="group6" class="parallax__group">
<div class="parallax__layer parallax__layer--back">
<div class="name"><img src=" http://www.rileyisme.com/wp-content/uploads/2014/09/IMG_4634-e1410908209647.jpg" alt="GERMANHAUS">  </div>
</div>
<div class="parallax__layer parallax__layer--base">
<div class="name">Jerome Graham</div>
</div>
</div>
<div id="group7" class="parallax__group">
<div class="parallax__layer parallax__layer--base">
<div class="name">Jim Graham</div>
</div>
</div>
</div>

<script>
var debugInput = document.querySelector("input");
function updateDebugState() {
    document.body.classList.toggle('debug-on', debugInput.checked);
}
debugInput.addEventListener("click", updateDebugState);
updateDebugState();
</script>

<script type="text/javascript">
var _gaq = _gaq || [];
_gaq.push(['_setAccount', 'UA-10812217-3']);
_gaq.push(['_trackPageview']);
(function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
})();
</script>









<div class="container">
  <%= yield %>
</div>

        <div class="footer-container">
            <footer class="wrapper">
                <h3> &copy; Riley Graham and Tom Longo 2014</h3>
            </footer>
        </div>

    </body>
</html>


